<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="./convocatorias-evaluacion-formulario-preguntas.html">

<dom-module id="convocatorias-evaluacion-formulario-respuestas">
  <template>
    <style include="bootstrap4-styles">
      :host {
        display: block;
      }

      .flex_respuestas {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
      }

      .flex_item {
        padding-right: 2rem;
        padding-bottom: 1rem;
      }

      .grid_boolena {
        width: 100%;
      }

      .form-control-plaintext {
        color: #1A237E;
      }
    </style>
    <iron-ajax id="ajax" auto url="{{urlRespuestas}}" handle-as="json" last-response="{{respuestasJson}}" loading="{{loading}}"></iron-ajax>
    <iron-ajax id="ajaxUpdate" auto url="{{urlUpdate}}" handle-as="json" last-response="{{updateJson}}"></iron-ajax>

    <section>
      <template is="dom-if" if="[[hasRespuestas]]">
        <template is="dom-if" if="[[!contestada]]">
          <div class="text-danger text-right">
            Conteste la pregunta
          </div>
        </template>
        <div class="flex_respuestas">
          <!-- ABIERTA -->
          <template is="dom-if" if="[[esAbierta]]">
            <template is="dom-repeat" items="[[respuestasJson.rows]]" as="r">
              <textarea class$="form-control [[isDetalleClass]]" name="t_[[r.id_respuesta_pregunta]]" id="r_[[r.id_respuesta_pregunta]]"
                rows="7" required on-input="_haEscrito" disabled$="[[isDetalle]]">[[_respuestaContestada(preguntaTipo, r.id_respuesta_pregunta, updateJson, isDetalle)]]</textarea>
            </template>
          </template>
          <!-- ABIERTA -->
          <!-- CERRADA -->
          <template is="dom-if" if="[[esCerrada]]">
            <template is="dom-repeat" items="[[respuestasJson.rows]]" as="r">
              <div class="form-check flex_item">
                <label class="form-check-label" for="r_chk_[[r.id_respuesta_pregunta]]" id="lb_r_[[r.id_respuesta_pregunta]]">
                  <input class="form-check-input" type="radio" name="p_[[idPregunta]]" id="r_[[r.id_respuesta_pregunta]]" value="[[r.id_respuesta_pregunta]]"
                    required on-change="_haSeleccionado" checked="[[_respuestaContestada(preguntaTipo, r.id_respuesta_pregunta, updateJson, isDetalle)]]"
                    disabled="[[isDetalle]]"> [[r.valor_respuesta]] [[r.descripcion]]
                </label>
              </div>
            </template>
          </template>
          <!-- CERRADA -->
          <!-- BOOLEANA -->
          <template is="dom-if" if="[[esBooleana]]">
            <div class="form-check flex_item btn-group">
              <label class="form-check-label btn btn-outline-secondary" for="r_[[respuestasJson.rows.0.id_respuesta_pregunta]]" id="lb_r_[[respuestasJson.rows.0.id_respuesta_pregunta]]">
                <input class="form-check-input" type="radio" name="p_[[idPregunta]]" id="r_[[respuestasJson.rows.0.id_respuesta_pregunta]]"
                  value="[[respuestasJson.rows.0.id_respuesta_pregunta]]" required on-change="_haSeleccionado" checked="[[_respuestaContestada(preguntaTipo, respuestasJson.rows.0.id_respuesta_pregunta, updateJson, isDetalle)]]"
                  disabled$="[[isDetalle]]"> [[respuestasJson.rows.0.descripcion]]
              </label>
            </div>
            <div class="form-check flex_item btn-group">
              <label class="form-check-label btn btn-outline-secondary" for="r_[[respuestasJson.rows.1.id_respuesta_pregunta]]" id="lb_r_[[respuestasJson.rows.1.id_respuesta_pregunta]]">
                <input class="form-check-input" type="radio" name="p_[[idPregunta]]" id="r_[[respuestasJson.rows.1.id_respuesta_pregunta]]"
                  value="[[respuestasJson.rows.1.id_respuesta_pregunta]]" required on-change="_haSeleccionado" checked="[[_respuestaContestada(preguntaTipo, respuestasJson.rows.1.id_respuesta_pregunta, updateJson, isDetalle)]]"
                  disabled$="[[isDetalle]]"> [[respuestasJson.rows.1.descripcion]]
              </label>
            </div>
            <!-- <template is="dom-if" if="[[contestada]]"> -->
            <div id="preguntas_children" class="grid_boolena">
              <!-- <convocatorias-evaluacion-formulario-preguntas id-evaluacion="[[idEvaluacion]]" token="[[token]]" id-respuesta-pregunta="[[idRespuestaPregunta]]"></convocatorias-evaluacion-formulario-preguntas> -->
            </div>
            <!-- </template> -->
          </template>
          <!-- BOOLEANA -->
        </div>
      </template>
      <template is="dom-if" if="[[!hasRespuestas]]">
        <div class="alert alert-info text-center">
          No hay posibles respuestas de la pregunta
        </div>
      </template>
    </section>
  </template>

  <script>
    /**
     * `convocatorias-evaluacion-formulario-respuestas`
     * 
     */
    class ConvocatoriasEvaluacionFormularioRespuestas extends Polymer.Element {
      static get is() { return 'convocatorias-evaluacion-formulario-respuestas'; }
      static get properties() {
        return {
          idEvaluacion: Number,
          token: String,
          idPregunta: Number,
          preguntaTipo: Number,
          esCerrada: {
            type: Boolean,
            readOnly: true,
            computed: '_esCerradaComp(preguntaTipo)'
          },
          esAbierta: {
            type: Boolean,
            readOnly: true,
            computed: '_esAbiertaComp(preguntaTipo)'
          },
          esBooleana: {
            type: Boolean,
            readOnly: true,
            computed: '_esBooleanaComp(preguntaTipo)'
          },
          urlRespuestas: {
            type: String,
            readOnly: true,
            computed: '_urlRespuestasComp(idPregunta)'
          },
          hasRespuestas: {
            type: Boolean,
            readOnly: true,
            computed: '_hasRespuestasComp(respuestasJson)'
          },
          respuestasJson: {
            type: Array
          },
          contestada: {
            type: Boolean
          },
          idRespuestaPregunta: {
            type: Number,
            observer: '_idRespuestaPreguntaObs'
          },
          urlUpdate: {
            type: String,
            readOnly: true,
            computed: '_urlUpdateComp(idEvaluacion, token, idPregunta)'
          },
          updateJson: {
            type: Array
          },
          isDetalleClass: {
            type: String,
            computed: '_isDetalleClass(isDetalle)'
          },
          isDetalle: {
            type: Boolean,
            value: false
          }
        };
      }

      _urlRespuestasComp(idPregunta) {
        if (idPregunta) {
          // return `https://intraug.ugto.mx/Convocatoria/Evaluacion/GetRespuestasByPregunta?id=${idPregunta}`;
          return App.Config.apppath + `/Evaluacion/GetRespuestasByPregunta?id=${idPregunta}`;
        }
      }
      _hasRespuestasComp(respuestasJson) {
        if (respuestasJson && respuestasJson.records > 0) {
          return true;
        }
        return false;
      }
      _esCerradaComp(preguntaTipo) {
        if (preguntaTipo === 1) {
          return true;
        }
        return false;
      }
      _esAbiertaComp(preguntaTipo) {
        if (preguntaTipo === 2) {
          return true;
        }
        return false;
      }
      _esBooleanaComp(preguntaTipo) {
        if (preguntaTipo === 3) {
          return true;
        }
        return false;
      }

      _haEscrito(e) {
        if (e.target.textLength > 0) {
          return this.contestada = true;
        }
        return this.contestada = false;
      }
      _haSeleccionado(e) {
        this.idRespuestaPregunta = e.target.value;
        if (this.preguntaTipo === 3) {
          this._boolCheckedBringChildren(e.target.value);
        }
        return this.contestada = true;
      }
      esContestada() {
        if (this.contestada !== true) {
          this.contestada = false;
          return false;
        }
        return true;
      }

      _boolCheckedBringChildren(id_respuesta_pregunta) {
        if (id_respuesta_pregunta) {
          this.contestada = true;
          this.idRespuestaPregunta = id_respuesta_pregunta;
          let children = this.shadowRoot.querySelector('#preguntas_children');
          if (children) {
            if (this.isDetalle) {
              children.innerHTML = `<convocatorias-evaluacion-formulario-preguntas class="grid_boolena" id-evaluacion="${this.idEvaluacion}" token="${this.token}" id-respuesta-pregunta="${this.idRespuestaPregunta}" is-detalle="${this.isDetalle}"></convocatorias-evaluacion-formulario-preguntas>`;
            }
            else {
              children.innerHTML = `<convocatorias-evaluacion-formulario-preguntas class="grid_boolena" id-evaluacion="${this.idEvaluacion}" token="${this.token}" id-respuesta-pregunta="${this.idRespuestaPregunta}"></convocatorias-evaluacion-formulario-preguntas>`;
            }
          }
        }
      }

      ///EDICIÓN
      _urlUpdateComp(idEvaluacion, token, idPregunta) {
        if (idEvaluacion && token && idPregunta) {
          // return `https://intraug.ugto.mx/Convocatoria/Evaluacion/getPreguntaRespuesta?id=${idEvaluacion}&token=${token}&id_pregunta=${idPregunta}`;
          return App.Config.apppath + `/Evaluacion/getPreguntaRespuesta?id=${idEvaluacion}&token=${token}&id_pregunta=${idPregunta}`;
        }
      }
      _respuestaContestada(preguntaTipo, idRespuestaPregunta, data, isDetalle) {
        if (preguntaTipo && idRespuestaPregunta && data && data.records > 0) {
          for (const item of data.rows) {
            if (idRespuestaPregunta === item.id_respuesta_pregunta) {
              this.contestada = true;
              this.idRespuestaPregunta = idRespuestaPregunta;
              if (preguntaTipo === 1) {
                this._hideNotAnswered(item.id_respuesta_pregunta, isDetalle);
                return true;
              }
              else if (preguntaTipo === 2) {
                return item.texto_respuesta;
              }
              else if (preguntaTipo === 3) {
                this._boolCheckedBringChildren(item.id_respuesta_pregunta);
                this._hideNotAnswered(item.id_respuesta_pregunta, isDetalle);
                return true;
              }
            }
          }
        }
      }

      ///DETALLE
      _isDetalleClass(isDetalle) {
        if (isDetalle) {
          return 'form-control-plaintext';
        }
        return '';
      }
      _hideNotAnswered(id, isDetalle) {
        if (isDetalle) {
          let inputs = this.shadowRoot.querySelectorAll('.form-check-label');
          for (const input of inputs) {
            if (input.id !== `lb_r_${id}`) {
              // input.style.display = 'none';
              let parent = input.parentElement;
              parent.classList.remove('flex_item');
              parent.style.display = 'none';
            }
          }
        }
      }
      _idRespuestaPreguntaObs(id) {
        setTimeout(() => {
          this._hideNotAnswered(id, this.isDetalle);
        }, 1500);
      }
    }

    window.customElements.define(ConvocatoriasEvaluacionFormularioRespuestas.is, ConvocatoriasEvaluacionFormularioRespuestas);
  </script>
</dom-module>