<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">

<link rel="import" href="./convocatorias-evaluacion-formulario-respuestas.html">

<dom-module id="convocatorias-evaluacion-formulario-preguntas">
  <template>
    <style include="bootstrap4-styles">
      :host {
        display: block;
      }

      .rotulo_campo_obligatorio {
        font-size: 1.1rem;
        color: #F44336;
        font-weight: 900;
      }

      .grid_form {
        display: grid;
        grid-gap: 1rem;
      }

      .grid_booleana {
        background-color: #E8EAF6;
        padding: 1rem;
        border-radius: 1rem;
      }
    </style>
    <iron-ajax id="ajax" auto url="{{urlPreguntas}}" handle-as="json" last-response="{{preguntasJson}}" loading="{{ploading}}"></iron-ajax>

    <section class="bg-light">
      <template is="dom-if" if="[[hasPreguntas]]">
        <div class$="grid_form  [[isChild]]">
          <template is="dom-repeat" items="[[preguntasJson]]" as="pregunta">
            <div class="form-group grid_form_item">
              <label class="h4 text-dark">
                [[pregunta.descripcion]]
                <span class="rotulo_campo_obligatorio"> *</span>
              </label>
              <convocatorias-evaluacion-formulario-respuestas id="p[[pregunta.id_pregunta]]" id-evaluacion="[[idEvaluacion]]" token="[[token]]"
                id-pregunta="[[pregunta.id_pregunta]]" pregunta-tipo="[[pregunta.id_tipo_pregunta]]" is-detalle="[[isDetalle]]"></convocatorias-evaluacion-formulario-respuestas>
            </div>
          </template>
        </div>
      </template>
      <template is="dom-if" if="[[!hasPreguntas]]">
        <template is="dom-if" if="[[!isChild]]">
          <div class="alert alert-info text-center">
            No hay información disponible sobre las preguntas
          </div>
        </template>
      </template>
    </section>
  </template>

  <script>
    /**
     * `convocatorias-evaluacion-formulario`
     * 
     */
    class ConvocatoriasEvaluacionFormularioPreguntas extends Polymer.Element {
      static get is() { return 'convocatorias-evaluacion-formulario-preguntas'; }
      static get properties() {
        return {
          idEvaluacion: Number,
          token: String,
          idRespuestaPregunta: Number,
          urlPreguntas: {
            type: String,
            readOnly: true,
            computed: '_urlPreguntasComputed(idEvaluacion, idRespuestaPregunta)'
          },
          hasPreguntas: {
            type: Boolean,
            readOnly: true,
            computed: '_hasPreguntasComputed(preguntasJson)'
          },
          preguntasJson: {
            type: Array
          },
          valido: {
            type: Boolean,
            value: false,
            readOnly: true
          },
          isChild: {
            type: String,
            readOnly: true,
            computed: '_isChildComp(idRespuestaPregunta)'
          },
          isDetalle: {
            type: Boolean,
            value: false
          }
        };
      }

      _urlPreguntasComputed(idEvaluacion, idRespuestaPregunta) {
        if (idEvaluacion) {
          if (idRespuestaPregunta) {
            // return `https://intraug.ugto.mx/Convocatoria/Evaluacion/GetPreguntasDByRespuesta?id=${idRespuestaPregunta}`;
            return App.Config.apppath + `/Evaluacion/GetPreguntasDByRespuesta?id=${idRespuestaPregunta}`;
          }
          else {
            // return `https://intraug.ugto.mx/Convocatoria/Evaluacion/GetDetalleEvaluacion?id=${idEvaluacion}`;
            return App.Config.apppath + `/Evaluacion/GetPreguntasNDByEvaluacion?id=${idEvaluacion}`;
          }
        }
      }
      _hasPreguntasComputed(preguntasJson) {
        if (preguntasJson && preguntasJson.length > 0) {
          return true;
        }
        return false;
      }

      _isChildComp(idRespuestaPregunta) {
        if (idRespuestaPregunta) {
          return 'grid_booleana';
        }
        return '';
      }

      resetForm() {
        this.shadowRoot.querySelector('#formulario').reset();
      }
      saveForm() {
        return new Promise((resolve, reject) => {
          var form = this.shadowRoot.querySelector('#formulario');
          if (form.validate()) {
            let data = form.serializeForm();
            return resolve(data)
          }
          else {
            var wc = this.shadowRoot.querySelectorAll('convocatorias-evaluacion-formulario-respuestas');
            for (let item of wc) {
              item.revisaEsContestada();
            }
            return reject({ 'tipo_error': '-1', 'descr': 'Formulario no válido' });
          }
        });
      }
    }

    window.customElements.define(ConvocatoriasEvaluacionFormularioPreguntas.is, ConvocatoriasEvaluacionFormularioPreguntas);
  </script>
</dom-module>