<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">

<link rel="import" href="./convocatorias-evaluacion-formulario-preguntas.html">

<dom-module id="convocatorias-evaluacion-formulario">
  <template>
    <style include="bootstrap4-styles">
      :host {
        display: block;
      }

      .card-header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        grid-auto-flow: row;
        text-align: center;
      }

      .Pendiente {
        color: #E65100;
      }

      .Finalizado {
        color: #004D40;
      }
    </style>
    <iron-ajax id="ajax" auto url="{{urlEvaluacion}}" handle-as="json" last-response="{{evaluacionJson}}"></iron-ajax>
    <iron-ajax id="ajaxEvaluador" auto url="{{urlEvaluador}}" handle-as="json" last-response="{{evaluadorJson}}"></iron-ajax>
    <iron-ajax id="ajaxResultado" auto url="{{urlResultado}}" handle-as="json" last-response="{{resultadoJson}}"></iron-ajax>

    <section>
      <div class="card border-primary bg-light">
        <div class="card-header" data-index$="collapse_dg_[[index]]" on-click="_toggleCollapse">
          <template is="dom-if" if="[[!isPlenaria]]">
            [[evaluadorJson.nombre]] [[evaluadorJson.apellido_paterno]] [[evaluadorJson.apellido_materno]]
          </template>
          <div>
            [[resultadoJson.resultado]]
          </div>
          <div class$="[[hasFinalizado]]">
            [[hasFinalizado]]
          </div>
        </div>
        <iron-collapse id$="collapse_dg_[[index]]" opened>
          <div class="card-body">
            <template is="dom-if" if="[[hasEvaluacion]]">
              <h5 class="card-title text-center text-primary">
                [[evaluacionJson.nombre_evaluacion]]
              </h5>
              <div class="card-text">
                <iron-form id="formulario">
                  <form>
                    <input type="hidden" name="hd_id_evaluacion" value="[[idEvaluacion]]" required readonly>
                    <input type="hidden" name="hd_token" value="[[token]]" required readonly>
                    <convocatorias-evaluacion-formulario-preguntas id-evaluacion="[[idEvaluacion]]" token="[[token]]" is-detalle="[[isDetalle]]"></convocatorias-evaluacion-formulario-preguntas>
                  </form>
                </iron-form>
              </div>
            </template>
            <template is="dom-if" if="[[!hasEvaluacion]]">
              <div class="alert alert-info text-center">
                No hay información de la evaluación
              </div>
            </template>
          </div>
        </iron-collapse>
      </div>
    </section>
  </template>

  <script>
    /**
     * `convocatorias-evaluacion-formulario`
     * 
     */
    class ConvocatoriasEvaluacionFormulario extends Polymer.Element {
      static get is() { return 'convocatorias-evaluacion-formulario'; }
      static get properties() {
        return {
          idEvaluacion: Number,
          token: String,
          isDetalle: {
            type: Boolean,
            value: false
          },
          isPlenaria: {
            type: Boolean,
            value: false
          },
          urlEvaluacion: {
            type: String,
            readOnly: true,
            computed: '_urlEvaluacionComp(idEvaluacion)'
          },
          hasEvaluacion: {
            type: Boolean,
            readOnly: true,
            computed: '_hasEvaluacionComputed(evaluacionJson)'
          },
          evaluacionJson: {
            type: Array
          },
          urlEvaluador: {
            type: String,
            readOnly: true,
            computed: '_urlEvaluadorComp(isPlenaria, token)'
          },
          hasEvaluador: {
            type: Boolean,
            readOnly: true,
            computed: '_hasEvaluadorComp(evaluadorJson)'
          },
          urlResultado: {
            type: String,
            readOnly: true,
            computed: '_urlResultadoComp(idEvaluacion, token)'
          },
          evaluadorJson: {
            type: Array
          },
          resultadoJson: {
            type: Array
          },
          hasFinalizado: {
            type: Boolean,
            readOnly: true,
            computed: '_hasFinalizadoComp(resultadoJson)'
          }
        };
      }

      _toggleCollapse(e) {
        var collapseElem = this.shadowRoot.querySelector('#' + e.currentTarget.dataset.index);
        if (collapseElem) {
          collapseElem.toggle();
        }
      }

      _urlEvaluacionComp(idEvaluacion) {
        if (idEvaluacion) {
          // return `https://intraug.ugto.mx/Convocatoria/Evaluacion/GetDetalleEvaluacion?id=${idEvaluacion}`;
          return App.Config.apppath + `/Evaluacion/GetDetalleEvaluacion?id=${idEvaluacion}`;
        }
      }
      _hasEvaluacionComputed(evaluacionJson) {
        if (evaluacionJson) {
          return true;
        }
        return false;
      }

      _urlEvaluadorComp(isPlenaria, token) {
        if (!isPlenaria && token) {
          // return `https://intraug.ugto.mx/Convocatoria/Evaluacion/getEvaluadorByToken?token=${token}`;
          return App.Config.apppath + `/Evaluacion/getEvaluadorByToken?token=${token}`;
        }
      }
      _hasEvaluadorComp(evaluadorJson) {
        if (evaluadorJson) {
          return true;
        }
        return false;
      }

      _urlResultadoComp(idEvaluacion, token) {
        if (idEvaluacion, token) {
          // return `https://intraug.ugto.mx/Convocatoria/Evaluacion/getResultadoEvaluacion?id=${idEvaluacion}&token=${token}`;
          return App.Config.apppath + `/Evaluacion/getResultadoEvaluacion?id=${idEvaluacion}&token=${token}`;
        }
      }
      _hasFinalizadoComp(resultadoJson) {
        if (resultadoJson && resultadoJson.finalizado) {
          return 'Finalizado';
        }
        return 'Pendiente';
      }

      resetForm() {
        this.shadowRoot.querySelector('#formulario').reset();
      }
      saveForm() {
        return new Promise((resolve, reject) => {
          var form = this.shadowRoot.querySelector('#formulario');

          if (form.validate()) {
            //validación manualmente
            var wc_preguntas = this.shadowRoot.querySelector('convocatorias-evaluacion-formulario-preguntas');
            if (wc_preguntas && wc_preguntas.preguntasJson.length > 0) {
              var wc_respuestas = wc_preguntas.shadowRoot.querySelectorAll('convocatorias-evaluacion-formulario-respuestas');
              if (wc_respuestas) {
                let form_incompleto;
                wc_respuestas.forEach(wc_resp => {
                  if (!wc_resp.esContestada()) {
                    form_incompleto = true;
                  }
                  if (wc_resp.esContestada() && wc_resp.preguntaTipo === 3) {
                    let wc_preguntas_dependientes = wc_resp.shadowRoot.querySelector('convocatorias-evaluacion-formulario-preguntas');
                    if (wc_preguntas_dependientes && wc_preguntas_dependientes.preguntasJson.length > 0) {
                      var wc_respuestas_dependientes = wc_preguntas_dependientes.shadowRoot.querySelectorAll('convocatorias-evaluacion-formulario-respuestas');
                      if (wc_respuestas_dependientes) {
                        wc_respuestas_dependientes.forEach(item => {
                          if (!item.esContestada()) {
                            form_incompleto = true;
                          }
                          item.esContestada();
                        });
                      }
                    }
                  }
                });
                if (form_incompleto) {
                  return reject({ 'tipo_error': '-1', 'descr': 'Formulario inválido.' });
                }
                else {
                  let data = form.serializeForm();
                  return resolve(data)
                }
              }
            }
            //validación manualmente
            return reject({ 'tipo_error': '-2', 'descr': 'Formulario cargado incorrectamente.' });
          }
          else {
            var wc_preguntas = this.shadowRoot.querySelector('convocatorias-evaluacion-formulario-preguntas');
            if (wc_preguntas && wc_preguntas.preguntasJson.length > 0) {
              var wc_respuestas = wc_preguntas.shadowRoot.querySelectorAll('convocatorias-evaluacion-formulario-respuestas');
              if (wc_respuestas) {
                wc_respuestas.forEach(item => {
                  if (item.esContestada() && item.preguntaTipo === 3) {
                    let wc_preguntas_dependientes = item.shadowRoot.querySelector('convocatorias-evaluacion-formulario-preguntas');
                    if (wc_preguntas_dependientes && wc_preguntas_dependientes.preguntasJson.length > 0) {
                      var wc_respuestas_dependientes = wc_preguntas_dependientes.shadowRoot.querySelectorAll('convocatorias-evaluacion-formulario-respuestas');
                      if (wc_respuestas_dependientes) {
                        for (let item of wc_respuestas_dependientes) {
                          item.esContestada();
                        }
                      }
                    }
                  }
                });
                return reject({ 'tipo_error': '-1', 'descr': 'Formulario inválido.' });
              }
            }
            return reject({ 'tipo_error': '-2', 'descr': 'Formulario cargado incorrectamente.' });
          }
        });
      }
    }

    window.customElements.define(ConvocatoriasEvaluacionFormulario.is, ConvocatoriasEvaluacionFormulario);
  </script>
</dom-module>